-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: class_system
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attendance_statuses`
--

DROP TABLE IF EXISTS `attendance_statuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance_statuses` (
  `id` tinyint(4) NOT NULL,
  `name` varchar(20) NOT NULL,
  `code` char(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_statuses`
--

LOCK TABLES `attendance_statuses` WRITE;
/*!40000 ALTER TABLE `attendance_statuses` DISABLE KEYS */;
INSERT INTO `attendance_statuses` VALUES (1,'Present','P'),(2,'Late','L'),(3,'Absent','A'),(4,'Excused','E');
/*!40000 ALTER TABLE `attendance_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_attendance`
--

DROP TABLE IF EXISTS `tb_attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_attendance` (
  `attendance_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `attendance_date` date DEFAULT NULL,
  `attendance_remarks` varchar(100) DEFAULT NULL,
  `attendance_record` int(11) NOT NULL,
  `attendance_create_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `attendance_status_id` tinyint(4) NOT NULL DEFAULT 1,
  PRIMARY KEY (`attendance_id`),
  KEY `student_id` (`student_id`),
  KEY `attendance_record` (`attendance_record`),
  KEY `attendance_status_id` (`attendance_status_id`),
  CONSTRAINT `tb_attendance_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `tb_students` (`student_id`),
  CONSTRAINT `tb_attendance_ibfk_2` FOREIGN KEY (`attendance_record`) REFERENCES `tb_users` (`users_id`),
  CONSTRAINT `tb_attendance_ibfk_3` FOREIGN KEY (`attendance_status_id`) REFERENCES `attendance_statuses` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_attendance`
--

LOCK TABLES `tb_attendance` WRITE;
/*!40000 ALTER TABLE `tb_attendance` DISABLE KEYS */;
INSERT INTO `tb_attendance` VALUES (1,3,'2026-10-08','On time',1,'2026-10-08 03:35:44',1),(2,2,'2026-10-08','Go to hometown',1,'2026-10-08 03:40:36',3),(3,4,'2026-10-08',NULL,1,'2026-10-08 03:40:36',1);
/*!40000 ALTER TABLE `tb_attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_class`
--

DROP TABLE IF EXISTS `tb_class`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_class` (
  `class_id` int(11) NOT NULL AUTO_INCREMENT,
  `class_course` varchar(100) DEFAULT NULL,
  `class_status` varchar(100) DEFAULT NULL,
  `class_building` varchar(100) DEFAULT NULL,
  `class_floor` varchar(50) DEFAULT NULL,
  `class_room` varchar(50) NOT NULL,
  `class_term` varchar(50) NOT NULL,
  `class_time` varchar(20) NOT NULL,
  `class_create` int(11) NOT NULL,
  PRIMARY KEY (`class_id`),
  KEY `class_create` (`class_create`),
  CONSTRAINT `tb_class_ibfk_1` FOREIGN KEY (`class_create`) REFERENCES `tb_users` (`users_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_class`
--

LOCK TABLES `tb_class` WRITE;
/*!40000 ALTER TABLE `tb_class` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_class` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_students`
--

DROP TABLE IF EXISTS `tb_students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_students` (
  `student_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_first_name` varchar(100) DEFAULT NULL,
  `student_last_name` varchar(100) DEFAULT NULL,
  `student_gender` varchar(100) DEFAULT NULL,
  `student_email` varchar(100) DEFAULT NULL,
  `student_dob` varchar(100) DEFAULT NULL,
  `student_class` int(11) NOT NULL,
  `student_status` varchar(100) DEFAULT NULL,
  `student_create` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`student_id`),
  KEY `student_class` (`student_class`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_students`
--

LOCK TABLES `tb_students` WRITE;
/*!40000 ALTER TABLE `tb_students` DISABLE KEYS */;
INSERT INTO `tb_students` VALUES (2,'Monyudom','Thorn','Male','thorn.monyudom.2003@gmail.com','2003-02-20',6,'Active','2026-10-01 02:40:37'),(3,'Monyudom','Thorn','Male','thornmonyudom147@gmail.com','2026-10-02',5,'Active','2026-10-01 02:40:37'),(4,'KunLing','Du','Female','kunling@gmail.com','2004-09-24',6,'Active','2026-10-01 02:40:37'),(6,'Monyudom','Thorn','Male','thornmonyudom147@gmail.com','2026-10-23',7,'Inactive','0000-00-00 00:00:00'),(7,'Kpom','Kpit','Female','pompit@gmail.com','2026-10-12',9,'Active','0000-00-00 00:00:00');
/*!40000 ALTER TABLE `tb_students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_users`
--

DROP TABLE IF EXISTS `tb_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_users` (
  `users_id` int(11) NOT NULL AUTO_INCREMENT,
  `users_name` varchar(25) DEFAULT NULL,
  `users_email` varchar(100) DEFAULT NULL,
  `users_password` varchar(255) DEFAULT NULL,
  `users_fullname` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`users_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_users`
--

LOCK TABLES `tb_users` WRITE;
/*!40000 ALTER TABLE `tb_users` DISABLE KEYS */;
INSERT INTO `tb_users` VALUES (1,'monyudomthorn','thornmonyudom147@gmail.com','12345678','Monyudom Thorn'),(8,'romdoulbczin','romdoul007@gmail.com','Monyudom****','Pka Romdoul'),(9,'romchong','romchong@gmail.com','123456789','Romchong');
/*!40000 ALTER TABLE `tb_users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-08 10:43:17
